<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zephyrtoria.task_system.mapper.ProjectsMapper">

    <resultMap id="BaseResultMap" type="com.github.zephyrtoria.task_system.domain.Projects">
            <id property="id" column="id" />
            <result property="name" column="name" />
    </resultMap>
    <select id="queryAllByUserId" resultType="com.github.zephyrtoria.task_system.domain.Projects">
        select p.*
        from projects p
                 left join user_project up on p.id = up.project_id
        where up.user_id = #{userId}
    </select>

</mapper>
