<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zephyrtoria.task_system.mapper.TaskDependencyMapper">

    <resultMap id="BaseResultMap" type="com.github.zephyrtoria.task_system.domain.TaskDependency">
            <result property="prevId" column="prev_id" />
            <result property="nextId" column="next_id" />
    </resultMap>

    <sql id="Base_Column_List">
        prev_id,next_id
    </sql>
</mapper>
