<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zephyrtoria.task_system.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.github.zephyrtoria.task_system.domain.Users">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="password" column="password" />
    </resultMap>
    <select id="queryAllByProjectId" resultType="com.github.zephyrtoria.task_system.domain.Users">
        select u.*
        from users u
                 left join user_project up on u.id = up.user_id
        where up.project_id = #{projectId}
    </select>

</mapper>
